apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: default
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Loki
        type: loki
        uid: loki
        url: http://loki.default.svc.cluster.local:3100
        access: proxy
      - name: Zipkin
        type: zipkin
        uid: zipkin
        url: http://zipkin.default.svc.cluster.local:9411
        access: proxy
